.example-card {
    max-width: 400px;
    min-height: 500px;
    border-radius: 5%;
    text-align: center;
    vertical-align: auto;
    font-size: 1.4em;
    font-weight:500;
    margin: 0 2% auto;
  }

mat-card-title {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 1.3em;
}

a {
  text-decoration: none;
}
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
img{
  width: 100%;
}

.eventodetalle{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

mat-card-content{
  background-color: #00867D;
  color: white;
}

mat-card-actions{
  background-color: #00867D;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}