<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evento detallado anónimo</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="mat-typography">
  <div class="container">
    <div class="fondo m-auto">
        <div class="row mt-4">
        <div class="col-3 ms-4  mt-4">
            <img src="assets/img/Runner.jpg" alt="logo-web">
        </div>
        <div class="col-8  mt-5">
            <h1>Atletayuda</h1>
        </div>
           
        <div class="col-8 me-3 mt-2 text-center">
            <h3>Localidad:</h3>

        </div>
        <div class="col-3 me-4 ms-3 mt-2 text-left">
            <h3>Fecha:</h3>
        </div>

        <div class="col-8 me-3 mt-2 text-center">
            <p>Bormujos</p>
        </div>
        <div class="col-3 me-4 ms-3 mt-2 text-left ">
            <p>13/12/2022</p>
        </div>

        <div class="col-8 me-3 mt-5 text-center">
            <h3>Gratuito</h3>
        </div>
        <div class="col-3 me-4 ms-3 mt-5 text-left">
            <h3>Hora:</h3>
        </div>
        <div class="col-10 me-3 ms-0 mt-6  pe-5 text-end">
            <p>12:00pm:</p>
        </div>
        <div  class="col-12 me-4 ms-3 mt-3 text-center">
            <input type="button" class="botonInscribir" value="Inscribir">
        </div>
        <div class="col-12 ms-4  mt-4 me-3 ps-5" >
            <textarea placeholder="Carrera benéfica contra el cancer" name="descripcion" id="textarea" cols="70" rows="5" ></textarea>
        </div>

        </div>
        </div>
    </div>
</body>

</html>
