<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    
    <div class="col-md-4 col-12 d-flex align-items-center justify-content-center" id="logo">
      <img src="assets/img/LOGO.png" class="img-fluid imagen">
    </div>
    
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <p>
        <a href="#">Sobre Nosotros</a>
        <br>
        <a href="#">¿Como participo en algún evento?</a>
      </p>
    </div>

    <ul class="nav col-12 col-md-4">
      <li class="ms-md-3"><a target="_blank" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
      <li class="ms-md-3"><a target="_blank" href="https://es-es.facebook.com/"><i class="bi bi-facebook"></i></a></li>
      <li class="ms-md-3"><a target="_blank" href="https://twitter.com/?lang=es"><i class="bi bi-twitter"></i></a></li>
    </ul>
</footer>