<div class="container">
    <div class="fondo m-auto">
        <div class="row mt-4">
            <div class=" d-md-none col-10 col-md-2 ms-4 text-center mt-4">
                <img src="assets/img/klipartz.png" alt="imagenPerfil" >
                <input class="mt-2 botonPerfil"type="button" value="Subir">
            </div>
            <div class="col-10 col-md-9 ms-3 mt-5">
                <h3>Nombre*</h3>
                <input class="" type="text">
            </div>
            <div class="d-none d-md-block col-10 col-md-2 ms-4 text-center mt-4">
                <img src="assets/img/klipartz.png" alt="imagenPerfil" >
                <input class="mt-2 botonPerfil"type="button" value="Subir">
            </div>
            <div class="col-10 col-md-9 ms-3">
                <h3>Apellidos*</h3>
                <input class="mb-3" type="text">
            </div>
            <div class="col-12 col-md-9 ms-1 row ms-md-1">
                <div class="col-6">
                    <h3>Fecha de Nacimiento*</h3>
                    <input class="mb-3" type="date">
                </div>
                <div class="col-6">
                    <h3>DNI*</h3>
                    <input class="mb-3" type="text">
                </div>
            </div>
            <div class="col-10 col-md-9 ms-3">
                <h3>Direccion de resistencia</h3>
                <input class="mb-3" type="text">
            </div>
            <div class="col-10 col-md-9 ms-3">
                <h3>Club de Running</h3>
                <input class="mb-3" type="text">
            </div>
            <div class="d-none d-md-block col-10 col-md-2 ms-4 mt-5">
                <input type="button" class="botonRegistrar" value="Registrarse">
            </div>
            <div class="col-12 col-md-9 ms-3 mb-5">
                <div class="row">
                    <div class="col-6">
                        <h3>Talla Camiseta</h3>
                        <select name="TallaCamisa" id="TallaCamisa">
                            <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <h3>Método de pago</h3>
                        <select name="metodoPago" id="metodoPago">
                            <option *ngFor="let metodo of metodoPagos" [value]="metodo">{{metodo}}</option>
                        </select>
                    </div>
            </div>
            <div class=" d-md-none col-10 col-md-2 ms-4 mt-5">
                <input type="button" class="botonRegistrar" value="Registrarse">
            </div>

        </div>
    </div>
</div>