<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form class="mt-5">
        <h1>Login</h1>
        <mat-label>Correo electrónico</mat-label>
        <br>
        <app-input-mail></app-input-mail>
        <br><br>
        <mat-label>Contraseña</mat-label>
        <br>
        <app-input-pass></app-input-pass>
        <br>
        <!-- <app-input-checkbox></app-input-checkbox> -->
        <mat-label>Recordar contraseña</mat-label>
        <br><br>
        <app-boton></app-boton>
        <p>¿No estás registrado aún? <a style="color: rgb(10, 154, 141);" href="register">Regístrate</a></p>
    </form>
</body>

</html>