<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form class="mt-5">
        <h1>Login</h1>
        <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <br>
            <app-input-mail></app-input-mail>
        </mat-form-field>
        <br><br>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <br>
            <app-input-pass></app-input-pass>
        </mat-form-field>
        <br>
        <mat-form-field>
            <app-input-checkbox></app-input-checkbox>
            <mat-label>Recordar contraseña</mat-label>
        </mat-form-field>
        <br><br>
        <button type="submit" mat-raised-button color="primary">LOGIN</button>
        <p>¿No estás registrado aún? <a style="color: rgb(10, 154, 141);" href="register">Regístrate</a></p>
    </form>
</body>

</html>